* {
    box-sizing: border-box;
}
body {
    background: url("../images/background1.jpg");
}

header {
    padding: 20px;
    background: lightsteelblue;
    margin-bottom: 20px;
    
}

.paragraph {
    background: whitesmoke;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
}

.crystal-image {
    width: 300px;
    height: 300px;
  }

